body{
    background-color: #421254;
}

#container{
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    border-radius: 10px;
    margin-top:20%;
    margin-left:25%;
    width: 45%;
    background: white;
}

#container input{
    font-size: 25px;
    padding:25px;
    border:0;
    outline: 0;
    margin-left:20px
    
}

#container img{
    width:30px;
    margin-right:5px;
    cursor: pointer;
}