<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
</head>
<body>

    <div>
        <h1>Post Id: <%=post.id%></h1>
        <h1>Username:<%=post.username%></h1>
    </div>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
       <textarea name="new Content" row="50" cols="50" name="content"><%=post.content%></textarea>
        <button >Save Changes</button>
    </form>
    
</body>
</html>